.scroll {
  opacity: 0.8;
  background-color: #fe8c00;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 99999;
  cursor: pointer;
}
.scroll:focus {
  outline: none;
}
.scroll:hover {
  opacity: 1;
}

.arrow-up {
  color: white;
}
