@import url("https://fonts.googleapis.com/css?family=Playfair+Display:500,700,900|Quicksand:400,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  /* font-family: 'Playfair Display', ; */
}

body {
  background: white;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  width: 100%;
}

a {
  color: #262626;
  text-decoration: none;
}
ul {
  list-style: none;
}

.main-content {
  width: 100%;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #2193b0;
  color: #fff;
  font-size: 18px;
  z-index: 2;
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.9;
  color: #fff;
}

.dark {
  color: #ffffff;
}

.dark .btn {
  background: #f4f4f4;
  color: #333;
}

.inverted {
  border-color: #000;
}

/* Follow */

.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
}

.follow * {
  margin-right: 10px;
}

.input-custom {
  width: 100%;
  height: 38px;
  padding: 0.5em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  cursor: pointer;
  position: relative;
  outline: 0;
  visibility: visible;
  text-align: left;
  font-weight: 700;
  letter-spacing: "1px";
}

/* Accordion */

.navlink-active {
  background: #2980b9;
  color: white;
}

.jodit_toolbar_btn-image,
.jodit_toolbar_btn-fullsize {
  display: none;
}

/* .slick-dots {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0px;
  background: none;
  left: 50%;
} */
.slick-dots li button::before {
  color: white;
  width: 22px;
}
.slick-next {
  /* right: -25px !important; */
  z-index: 2 !important;
  background: #2980b9 !important;
  border-radius: 50%;
}
.slick-prev {
  /* left: -25px !important; */
  z-index: 2 !important;
  background: #2980b9 !important;
  border-radius: 50%;
}

.slick-custom-content {
  background: #fff !important;
  border-radius: 10px;
  width: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}
.slick-custom-content p,
.slick-custom-content h2 {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* custom styling */
  .signin-custom,
  .signup-custom {
    grid-template-columns: 1fr !important;
  }
  .signin-left {
    height: 40vh !important;
    margin-top: 15vh !important;
  }
  .signin-right {
    height: 100% !important;
  }
}

@media (max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}
